<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.one2many.EmployeeDao">
    <resultMap id="empMap" type="employee">
        <id column="eid" property="eid"></id>
        <result column="ename" property="ename"></result>
    </resultMap>
    <select id="selectByDid" parameterType="int" resultType="employee">
        select * from employee where did = #{did}
    </select>
</mapper>