<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.many2many.StudentDao">
    <resultMap id="courseMap" type="course">
        <id column="cid" property="cid"></id>
        <result column="cname" property="cname"></result>
        <collection property="stuList" javaType="list" ofType="student">
            <id column="sid" property="sid"></id>
            <result column="sname" property="sname"></result>
        </collection>
    </resultMap>
    <select id="findByCid" parameterType="int" resultMap="courseMap">
        select * from course c
        inner join relation r
        on c.cid = r.cid
        inner join student s
        on s.sid = r.sid
        where c.cid = #{cid};
    </select>

</mapper>